body{
	background-color: #e9e6e6;
	font-family: Arial;
	color: blue
	size: 11pt
	margin:0; 
	padding:0;
	 /*reset the body font to 10px*/
	
}

h2 {
	font-family: Arial
	color: blue
	font-size 14pt
}



tr {
	border-bottom: 1px solid rgb(39, 173, 21);
}

h1 {
	
	font-family: Verdana
	size: 20pt
	}
	
