body{
	background-color: #ffffff;
	font-family: Arial, sans-serif, Helvetics;
	margin:0; 
	padding:0;
	 /*reset the body font to 10px*/
	
}

h2{
	font size:14px
	color: blue
}


tr {
	border-bottom: 1px solid rgb(39, 173, 21);
}
	