header {

	font-size: 14px
	color: red
	font-family: Arial, sans-serif, Helvetics;
	
	
}

h2 {
	font-size: 14px
	color: red
	font-family: Arial, sans-serif, Helvetics;
}

tr {
	border-bottom:1px solid black;
}
	